main{ 
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: system-ui;
  margin: 0 auto;
  max-width: 800px;
  gap: 10px;
}

section{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px;
  border-radius: 5%;
  padding: 15px;
  background-color: rgba(72, 75, 84, 0.645)
}

section > img{
  max-width: 360px;
}


